# Ignore files and directories that should not be formatted by Prettier

# Node modules
node_modules

# Build directories
build
dist

# Log files

# Vendor directories
vendor

# Test directories
coverage
playwright-report
test-results
