# CODEOWNERS for LightSpeed WP Scripts

# See <https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners>

# All files in the repo

* @ashleyshaw @lightspeedwp
